@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes disco {
  0% {
      border-color: rgb(2, 255, 171);
  }
  50% {
      border-color: rgb(255, 2, 2);
  }
  100% {
      border-color: rgb(252, 195, 6);
  }
}

.animate-disco {
  animation: pulse 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-6%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animated-element {
  animation: bounce 2s ease-in-out infinite 300ms;
}

body{
  background-color: black;
  color: white;
}